$break-small:320px;

@media screen and (max-width: $break-small) {
  .title{
    font-size: 20px;
    display: none;
  }
}

.cardlist__index{
  position: relative; 
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 300px;
  padding-top: 50px;
  border-radius: 10px;
  margin: 20px 
}
.cardlist__detail{
  font-size: 10px;
  padding: 5px 20px 
}