.img-background{
    height:'200px';
    background-image:url('https://www.innovwebsolutions.com/wp-content/themes/twentyseventeen/assets/images/mid3.jpg')
                    
}

.source-sans-pro{
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    max-width: 100%;
}