@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

$break-small:320px;
$break-large: 1200px;

.fluid {
    max-width: 1080px;
    @media screen and (max-width: $break-small) {
        max-width: 360px;
    }
    @media screen and (min-width: $break-large) {
    
    }
}

.navbar {
    &__title {
        padding-top: 18px;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 500;
    }
}