$break-small:320px;

.exp__index{
    margin-top:'10%';
    text-align:'center';
    @media screen and (max-width: $break-small) {
        margin-top: '20%'
    }
}

@media screen and (max-width: $break-small) {
    .title{
        font-size: 20px;
        display: none;
    }
}