@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

$break-small:320px;
$break-large: 1200px;
$breakpoint-tablet: 780px;

.fluid {
    max-width: 1080px;
    @media screen and (max-width: $break-small) {
        max-width: 360px;
    }
    @media screen and (min-width: $break-large) {
    
    }
}

.navbar {
    &__title {
        padding-top: 18px;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 500;
    }
}

.footer {
    margin-top: 3em;
    background-color: #70B4E6;
    padding: 3em 3em;
    font-family: 'Nanum Gothic', sans-serif;
    &__title {
        color: white;
        font-size: 33px;
        font-weight: 500;
        @media (min-width: $breakpoint-tablet){
            font-size: 60px;
        }
    }
    &__desc{
        padding-top: 2em;
        color: white;
        font-size: 16px;
        @media (min-width: $breakpoint-tablet){
            padding-top: 0em;
        }
    }
    &__button-hire{
        margin-top: 2em;
        color: #2C9BED;
        background-color: white;
        border-radius: 30px;
        border: 1px solid #2C9BED;
    }
}

.landing-page {
    padding-left: 1rem;
    padding-right: 1rem;
    &__profilePic {
        height: 190px;
        width: 180px;
        border-radius: 50%;
        margin-top: 10%,
    }
    &__profileDetail {
        &-title{
            margin-bottom: 0px;
            font-size: 30px
        }
        &-name{
            margin-bottom: 0px;
        }
        &-jobtitle{
            margin: 10px 0px 10px 0px
        }
        &-desc{
            font-size: 14px;
            max-width: 80%;
        }

        &-dev-profile{
            justify-content: center;
            align-items: center;
            font-size: 25px;
            margin-top: 30px,
        }
    }
}

@media (max-width: $breakpoint-tablet) {
  .disable-mobile-view{
      display: none;
  }
}

@media (min-width: $breakpoint-tablet) {
    .disable-desktop-view{
        display: none;
    }
  }